<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webBookChaev</title>
</head>
<body>

    <header> </header>

    <nav>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" routerLink="/business">Negocio-Emprendimiento</mat-radio-button>
        <mat-radio-button value="2" routerLink="/development">Desarrollo Personal-Profesional</mat-radio-button>
        <mat-radio-button value="3" routerLink="/academic">Académico</mat-radio-button>
        <mat-radio-button value="4" routerLink="/literaryWorks">Obras,historia,Caligrafía y Pupiletras</mat-radio-button>
      </mat-radio-group>
    </nav>

    <section>
        <div class="titleCategory">
          <div class="books">
              <h1>Desarrollo personal y profesional</h1>
          </div>
        </div>

        <div class="showcase">
          <div class="books">
              <img src="../../assets/IMG/CGAeISobreLasPerson.jpg">
              <figcaption>Cómo ganar amigos e influir sobre las personas</figcaption>
              <p>Autor: Dale Carnegie</p>
              <!--<p>S/</p>-->
          </div>
          <div class="books">
              <img src="../../assets/IMG/comoAdquirirSM.jpg">
              <figcaption>Como desarrollar una super memoria</figcaption>
              <p>Autor: Harry Lorayne</p>
              <!--<p></p>-->
          </div>
          <div class="books">
            <img src="../../assets/IMG/intelEmoc4e1.jpg">
            <figcaption>Inteligencia emocional</figcaption>
            <p>Autor: Ryan J. D. Goleman</p>
          </div>
          <div class="books">
              <img src="../../assets/IMG/tusZonasError.jpg">
              <figcaption>Tus zonas erróneas</figcaption>
              <p>Autor: Wayne Dyer</p>
              <!--<p></p>-->
          </div>
          <div class="books">
            <img src="../../assets/IMG/psicoOscurManMent.jpg">
            <figcaption>Psicología oscura y manipulación mental (5 en 1)</figcaption>
            <p>Autor: Daniel Cooper y Laura J.P.Goleman</p>
          </div>
          <div class="books">
              <img src="../../assets/IMG/espirituCreativo.jpg">
              <figcaption>El espíritu creativo</figcaption>
              <p>Autor: Daniel Goleman</p>
          </div>
          <div class="books">
            <img src="../../assets/IMG/arteDeGuerra.jpg">
            <figcaption>El arte de la guerra</figcaption>
            <p>Autor: Sun Tzu</p>
          </div>
          <div class="books">
              <img src="../../assets/IMG/comSerUnLid.jpg">
              <figcaption>Como ser un líder</figcaption>
              <p>Autor: Daniel Goleman</p>
          </div>
          <div class="books">
            <img src="../../../../assets/IMG/habitsAtomicos1.jpeg">
            <figcaption>Hábitos atómicos</figcaption>
            <p>Autor: James Clear</p>
          </div>
          <div class="books">
              <img src="../../../../assets/IMG/habitsAtomicosBest.jpeg">
              <figcaption>Hábitos atómicos (bestseller)</figcaption>
              <p>Autor: James Clear</p>
          </div>
          <div class="books">
            <img src="../../../../assets/IMG/sieteSemillas.jpeg">
            <figcaption>El secreto de las 7 semillas</figcaption>
            <p>Autor: David Fischman</p>
            <!--<p></p>-->
          </div>
          <div class="books">
              <img src="../../../../assets/IMG/psicologiaOscuraOnly.jpeg">
              <figcaption>Psicología oscura</figcaption>
              <p>Autor: Steven Turner</p>
              <!--<p></p>-->
          </div>
        </div>

    </section>

    <footer>

        <div class="row">
            <div class="socialMedia">
              <p><strong>WhatsApp</strong></p>
              <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
            </div>
            <div class="payments">
                <p><strong>Medios de pago</strong></p>
                <img src="../../assets/IMGLOG/yape.png">
                <img src="../../assets/IMGLOG/visa.png">
            </div>
            <div class="contact">
              <p><strong>Cont&aacute;ctame</strong></p>
              <p>922044558</p>
            </div>
        </div>
        <hr>
        <div class="author">
            <small>&copy; 2023 CHAEV/TODOS LOS DERECHOS RESERVADOS.</small><br><br>
        </div>

    </footer>

</body>
</html>
