<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webBookChaev</title>

</head>
<body>

    <header> </header>

    <nav>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" routerLink="/business">Negocio-Emprendimiento</mat-radio-button>
        <mat-radio-button value="2" routerLink="/development">Desarrollo Personal-Profesional</mat-radio-button>
        <mat-radio-button value="3" routerLink="/academic">Acad&eacute;mico</mat-radio-button>
        <mat-radio-button value="4" routerLink="/literaryWorks">Obras,historia,Caligrafía y Pupiletras</mat-radio-button>
      </mat-radio-group>
    </nav>

    <section>
        <div class="titleCategory">
          <div class="books">
              <h1>Libros escolares, preuniversitarios y universitarios</h1>
          </div>
        </div>

        <div class="showcase">
            <div class="books">
                <img src="./../../../../assets/IMGAO/CompendioQuimica.jpeg">
                <figcaption>COMPENDIO QU&Iacute;MICA</figcaption>
                <p>Editorial: LUMBRERAS</p>
                <!--<p>S/ 15.00</p>-->
            </div>
            <div class="books">
                <img src="./../../../../assets/IMGAO//compendioFisica.jpeg">
                <figcaption>COMPENDIO F&Iacute;SICA</figcaption>
                <p>Editorial: LUMBRERAS</p>
                <!--<p>S/ 15.00</p>-->
            </div>
            <div class="books">
              <img src="./../../../../assets/IMGAO/compendioPsico.jpeg">
              <figcaption>COMPENDIO PSICOLOG&Iacute;A</figcaption>
              <p>Editorial: LUMBRERAS</p>
              <!--<p>S/ 15.00</p>-->
            </div>
            <div class="books">
                <img src="./../../../../assets/IMGAO/compendHistory.jpeg">
                <figcaption>COMPENDIO HISTORIA</figcaption>
                <p>Editorial: LUMBRERAS</p>
                <!--<p>S/ 15.00</p>-->
            </div>
            <div class="books">
              <img src="./../../../../assets/IMGAO/compendioBio.jpeg">
              <figcaption>COMPENDIO BIOLOG&Iacute;A Y ANATOM&Iacute;A</figcaption>
              <p>Editorial: LUMBRERAS</p>
              <!--<p>S/ 22.00</p>-->
            </div>
            <div class="books">
                <img src="./../../../../assets/IMGAO/fisica.jpeg">
                <figcaption>F&Iacute;SICA</figcaption>
                <p>Autor: Ing. CUSTODIO<p>
                <!--<p>S/ 15.00</p>-->
            </div>
            <div class="books">
              <img src="./../../../../assets/IMGAO/lenguaje.jpeg">
              <figcaption>LENGUAJE</figcaption>
              <p>Instituto de Ciencias y Humanidades</p>
              <!--<p>S/ 14.00</p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/english.jpeg">
              <figcaption>Ingl&eacute;s b&aacute;sico</figcaption>
              <p>Autor: A. Ghio D.</p>
              <!--<p>S/ 6.00</p>-->
            </div>

        </div>

    </section>

    <footer>

        <div class="row">
            <div class="socialMedia">
              <p><strong>WhatsApp</strong></p>
              <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
            </div>
            <div class="payments">
                <p><strong>Medios de pago</strong></p>
                <img src="../../assets/IMGLOG/yape.png">
                <img src="../../assets/IMGLOG/visa.png">
            </div>
            <div class="contact">
              <p><strong>Cont&aacute;ctame</strong></p>
              <p>922044558</p>
            </div>
        </div>
        <hr>
        <div class="author">
            <small>&copy; 2023 CHAEV/TODOS LOS DERECHOS RESERVADOS.</small><br><br>
        </div>

    </footer>

</body>
</html>
