body{
  background-color: black;
}
/*NAV*/
nav{
  text-align: center;
  margin-top: 2%;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}


/*aside-information*/

.information{
  text-align: center;
  margin-top: 5%;
  columns: 1;
}

.search{
  height: 10%;
}

.shower {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* los elementos secundarios se apilan debajo de la imagen */
  align-items: center; /* para centrar los elementos verticalmente */
  text-align: center; /* para centrar el texto horizontalmente */
}

.shower img {
  max-width: 120px;
  margin-bottom: 10px;
}

table,h2{
  margin: auto;
  margin-top: 2%;
  color: greenyellow;
  width: 70%;
}

th,tbody td{
  border: solid 1px white;
}

thead{
  color: red;
}

/*SHOWCASE-section*/
.books img{
  margin-top: 10%;
}

.showcase{
  margin-top: 5%;
  text-align: center;
  columns: 4;
}

.showcaseAux,.titleCategory{ /*Para cuando no completa las 4 columnas*/
  columns: 1;
  margin-top: 3%;
  text-align: center;
}

.titleCategory h1{
  color: rgb(54, 27, 187);
}

.showcase img{
  width: 140px;
  height: 180px;
}

.showcaseAux img{ /*Para cuando no completa las 4 columnas*/
  width: 140px;
  height: 180px;
}

.books figcaption{
  margin-top: 15px;
}

figcaption,p{
  color: white;
}

/*Footer*/
footer{
  margin-top: 5%;
  background: linear-gradient(rgba(15,20,35,10),rgba(25,35,150,2));
  border-radius: 10px;
}

a img{
  width: 45px;
  height: 50px;
  border-radius: 30%;
  background: none;
  margin: 3px 8px;
}

.payments img{
  width: 45px;
  height: 50px;
  border-radius: 30%;
  background: none;
  margin: 3px 8px;
}

.socialMedia{
  background-size: cover;
}

.row{
  columns: 3;
}

.contact,.payments,.socialMedia,.author{
  text-align: center;
  padding-top: 5px;
}

.socialMedia a{
  cursor: pointer;
}

.author small{
  color: white;
}

.author{
  margin-bottom: 20px;
}

.booksLogo .logo{
  height: 80%;
  width: 80%;
}

/*Efects*/
.books img:hover{
  scale: 1.5;
  transition: 1s;
}

