<section>
    <article>
      <img src="./../../../assets/IMGLOG/biblio.jpg">
    </article>

    <article>
      <h2>¡Escoge la categor&iacute;a de libros que mas te guste!</h2>
      <h3>Libros nuevos y usados de diferentes precios.</h3>
      <h3 id="quieroOtro">Si quieres un libro en particular, escribeme al whatsapp!</h3>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" routerLink="/academic">Acad&eacute;mico</mat-radio-button>
        <mat-radio-button value="2" routerLink="/literaryWorks">Obras,historia,Caligrafía y Pupiletras</mat-radio-button>
        <mat-radio-button value="3" routerLink="/business">Negocio-Emprendimiento</mat-radio-button>
        <mat-radio-button value="4" routerLink="/development">Desarrollo Personal-Profesional</mat-radio-button>
      </mat-radio-group>
    </article>
</section>

<footer>

  <div class="row">
      <div class="socialMedia">
          <p><strong>WhatsApp</strong></p>
          <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
      </div>
      <div class="payments">
          <p><strong>Medios de pago</strong></p>
          <img src="../../assets/IMGLOG/yape.png">
          <img src="../../assets/IMGLOG/visa.png">
      </div>
      <div class="contact">
        <p><strong>Cont&aacute;ctame</strong></p>
        <p>922044558</p>
      </div>
  </div>
  <hr>
  <div class="author">
      <small>&copy; 2023 CHAEV/TODOS LOS DERECHOS RESERVADOS.</small><br><br>
  </div>

</footer>
