<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webBookChaev</title>

</head>
<body>

    <header> </header>

    <nav>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" routerLink="/business">Negocio-Emprendimiento</mat-radio-button>
        <mat-radio-button value="2" routerLink="/development">Desarrollo Personal-Profesional</mat-radio-button>
        <mat-radio-button value="3" routerLink="/academic">Acad&eacute;mico</mat-radio-button>
        <mat-radio-button value="4" routerLink="/literaryWorks">Obras,historia,Caligrafía y Pupiletras</mat-radio-button>
      </mat-radio-group>
    </nav>

    <section>
        <div class="titleCategory">
          <div class="books">
              <h1>Negocio-Emprendimiento</h1>
          </div>
        </div>

        <div class="showcase">
            <div class="books">
                <img src="../../assets/IMG/padreRicoPP.jpg">
                <figcaption>Padre rico padre pobre</figcaption>
                <p>Autor: Robert Kiyosaki y Sharon Lechter</p>
                <!--<p>S/ 20.00</p>-->
            </div>
            <div class="books">
                <img src="../../assets/IMG/hombreMasRdBabilonia.jpg">
                <figcaption>El hombre más rico de Babilonia</figcaption>
                <p>Autor: George Samuel Clason</p>
                <!--<p>S/ 18.00</p>-->
            </div>
            <div class="books">
              <img src="../../assets/IMG/menosMiedMasRiquez.jpg">
              <figcaption>Menos miedos más riquezas</figcaption>
              <p>Autor: Juan Diego Gómez</p>
              <!--<p>S/ 18.00</p>-->
            </div>
            <div class="books">
                <img src="../../assets/IMG/negocioSiglo21.jpg">
                <figcaption>El Negocio del Siglo 21</figcaption>
                <p>Autor: Robert T. Kiyosaki</p>
                <!--<p>S/ 20.00</p>-->
            </div>
            <div class="books">
              <img src="../../assets/IMG/retirarJyR.jpg">
              <figcaption>Retírate Joven y Rico</figcaption>
              <p>Autor: Robert T. Kiyosaki</p>
              <!--<p>S/ 20.00</p>-->
            </div>
            <div class="books">
                <img src="../../assets/IMG/vendeleAlMentNALG.jpg">
                <figcaption>Véndele a la mente no a la gente</figcaption>
                <p>Autor: J&uuml;rgen Klaric<p>
                <!--<p>S/ 20.00</p>-->
            </div>
            <div class="books">
              <img src="../../assets/IMG/cuadrantFD.jpg">
              <figcaption>El cuadrante del flujo de dinero</figcaption>
              <p>Autor: Robert T. Kiyosaki</p>
              <!--<p>S/ 20.00</p>-->
            </div>
            <div class="books">
              <img src="../../assets/IMG/libroNdEmp.jpg">
              <figcaption>El libro negro del emprendedor</figcaption>
              <p>Autor: Fernando Trias de Bes</p>
              <!--<p>S/ 20.00</p>-->
            </div>

        </div>

    </section>

    <footer>

        <div class="row">
            <div class="socialMedia">
                <p><strong>WhatsApp</strong></p>
                <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
            </div>
            <div class="payments">
                <p><strong>Medios de pago</strong></p>
                <img src="../../assets/IMGLOG/yape.png">
                <img src="../../assets/IMGLOG/visa.png">
            </div>
            <div class="contact">
              <p><strong>Cont&aacute;ctame</strong></p>
              <p>922044558</p>
            </div>
        </div>
        <hr>
        <div class="author">
            <small>&copy; 2023 CHAEV/TODOS LOS DERECHOS RESERVADOS.</small><br><br>
        </div>

    </footer>

</body>
</html>
