<section>
  <article>
    <div class="information">
      <div id="welcome">
        <h2>¡Expresa tus emociones y sentimientos de forma única y personalizada! Nuestro servicio
           especializado en escritura de poemas, versos y canciones en rimas está aquí para ayudarte a transmitir
           tus pensamientos de una manera inolvidable.
          ¿Buscas regalar algo original y significativo? Deja que nuestras palabras llenen de magia y romanticismo
          ese momento especial. ¿Necesitas una canción con ritmo y encanto para celebrar un evento importante?
          Nuestros versos en rimas harán que cada nota se convierta en un recuerdo inolvidable.</h2>
        <!--<p>Gerson Chancas Evangelista</p>-->
      </div>
      <div class="plumaContainer">
        <img src="../../../assets/IMGVerse/plumero.png" class="pluma"/>
      </div>
    </div>

  </article>
<br>
<hr>
  <article>
    <pre class="poetry">
      "Valora la belleza
      de las cosas simples.
      Se puede hacer bella poesía
      sobre pequeñas cosas,
      pero no podemos remar
      en contra de nosotros mismos.
      Eso transforma la vida en un infierno.
      Disfruta del pánico que te provoca
      tener la vida por delante.
      Vívela intensamente,
      sin mediocridad.
      Piensa que en ti está el futuro
      y encara la tarea con orgullo
      y sin miedo.
      Aprende de quienes puedan enseñarte.
      Las experiencias
      de quienes nos precedieron
      de nuestros “poetas muertos”,
      te ayudan a caminar por la vida
      La sociedad de hoy somos nosotros:
      Los “poetas vivos”.
      No permitas que la vida te pase a ti
      sin que la vivas."
      (Walt Whitman)
    </pre>
  </article>

</section>

<footer>

  <div class="row">
      <div class="socialMedia">
        <p><strong>WhatsApp</strong></p>
        <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
      </div>
      <div class="payments">
          <p><strong>Medios de pago</strong></p>
          <img src="../../assets/IMGLOG/yape.png">
          <img src="../../assets/IMGLOG/visa.png">
      </div>
      <div class="contact">
        <p><strong>Contáctame</strong></p>
        <p>922044558</p>
      </div>
  </div>
  <hr>
  <div class="author">
      <small>&copy; 2023 CHAEV/TODOS LOS DERECHOS RESERVADOS.</small><br><br>
  </div>

</footer>

