<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webBookChaev</title>

</head>
<body>

    <header> </header>

    <nav>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" routerLink="/business">Negocio-Emprendimiento</mat-radio-button>
        <mat-radio-button value="2" routerLink="/development">Desarrollo Personal-Profesional</mat-radio-button>
        <mat-radio-button value="3" routerLink="/academic">Académico</mat-radio-button>
        <mat-radio-button value="4" routerLink="/literaryWorks">Obras,historia,Caligrafía y Pupiletras</mat-radio-button>
      </mat-radio-group>
    </nav>

    <section>
        <div class="titleCategory">
          <div class="books">
            <h1>Para niños y niñas</h1>
          </div>
         </div>

         <div class="showcase">
            <div class="books">
                <img src="../../../../assets/IMGAO/caligrafia.jpeg">
                <figcaption>Caligrafías</figcaption>
            </div>
            <div class="books">
                <img src="../../../../assets/IMGAO/sopaLetters.jpeg">
                <figcaption>Sopa de letras</figcaption>
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/caligrafia.jpeg">
              <figcaption>Caligrafías</figcaption>
            </div>
            <div class="books">
                <img src="../../../../assets/IMGAO/sopaLetters.jpeg">
                <figcaption>Sopa de letras</figcaption>
            </div>
         </div>

        <div class="titleCategory">
          <div class="books">
              <h1>Obras literarias e historia</h1>
          </div>
        </div>

        <div class="showcase">
            <div class="books">
                <img src="../../../../assets/IMGAO/divinaComedia.jpeg">
                <figcaption>LA DIVINA COMEDIA</figcaption>
                <p>Autor: Dante Alighieri</p>
                <!--<p>S/ 4.00</p>-->
            </div>
            <div class="books">
                <img src="../../../../assets/IMGAO/eyesPrinces2.jpeg">
                <figcaption>LOS OJOS DE MI PRINCESA 2</figcaption>
                <p>Autor: Carlos Cuauht&eacute;moc S&aacute;nchez</p>
                <!--<p>S/ </p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/eyesPrinces3.jpeg">
              <figcaption>LOS OJOS DE MI PRINCESA 3</figcaption>
              <p>Autor: Carlos Cuauht&eacute;moc S&aacute;nchez</p>
              <!--<p>S/ </p>-->
            </div>
            <div class="books">
                <img src="../../../../assets/IMGAO/palabraMudo.jpeg">
                <figcaption>LA PALABRA DEL MUDO</figcaption>
                <p>Autor: Julio Ram&oacute;n Ribeyro</p>
                <!--<p>S/ 4.00</p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/historiaCorrupPeru.jpeg">
              <figcaption>HISTORIA DE LA CORRUPCI&Oacute;N EN EL PER&Uacute;</figcaption>
              <p>Autor: Alfonso W. Quiroz</p>
              <!--<p>S/ 23.00</p>-->
            </div>
            <div class="books">
                <img src="../../../../assets/IMGAO/MaestraVida.jpeg">
                <figcaption>MAESTRA VIDA</figcaption>
                <p>Autor: Thorndike Guillermo<p>
                <!--<p>S/ 15.00</p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/matalache.jpeg">
              <figcaption>MATALACHE</figcaption>
              <p>Autor: Enrique L&oacute;pez Alb&uacute;jar</p>
              <!--<p>S/ 4.00</p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/ollantay.jpeg">
              <figcaption>OLLANTAY</figcaption>
              <p>Autor: An&oacute;nimo</p>
              <!--<p>S/ 3.00</p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/principe.jpeg">
              <figcaption>EL PR&Iacute;NCIPE</figcaption>
              <p>Autor: Nicol&aacute;s Maquiavelo</p>
              <!--<p>S/ 4.00</p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/sangreCampeon.jpeg">
              <figcaption>SANGRE DE CAMPE&Oacute;N</figcaption>
              <p>Autor: Carlos Cuauht&eacute;moc S&aacute;nchez</p>
              <!--<p>S/ </p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/SinCadenas.jpeg">
              <figcaption>SIN CADENAS</figcaption>
              <p>Autor: Carlos Cuauht&eacute;moc S&aacute;nchez</p>
              <!--<p>S/ </p>-->
            </div>
            <div class="books">
              <img src="../../../../assets/IMGAO/werther.jpeg">
              <figcaption>LAS DESVENTURAS DEL JOVEN WERTHER</figcaption>
              <p>Autor: Goethe</p>
              <!--<p>S/ 4.00</p>-->
            </div>

        </div>

    </section>

    <footer>

        <div class="row">
            <div class="socialMedia">
                <p><strong>WhatsApp</strong></p>
                <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
            </div>
            <div class="payments">
                <p><strong>Medios de pago</strong></p>
                <img src="../../assets/IMGLOG/yape.png">
                <img src="../../assets/IMGLOG/visa.png">
            </div>
            <div class="contact">
              <p><strong>Cont&aacute;ctame</strong></p>
              <p>922044558</p>
            </div>
        </div>
        <hr>
        <div class="author">
            <small>&copy; 2023 CHAEV/TODOS LOS DERECHOS RESERVADOS.</small><br><br>
        </div>

    </footer>

</body>
</html>
